
.footer {
  border-top: 1px solid rgba(220, 229, 226, 1);
  margin-top: 19px;
  background: rgba(248, 249, 250, 1);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 44px 20px;
  gap: 30px;
}


.footer__col-logo {
  text-wrap: balance;
  margin: 44px 90px 166px 74px;
}

.footer__logo img {
  margin-bottom: 18px;
}


.footer__logo-text {
  max-width: 302px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}

.footer__col {
  margin-top: 44px;
}

.footer__col-list {
  display: flex;
  gap: 94px;
  flex-wrap: wrap;
}

.footer__col-item {
  display: flex;
  flex-direction: column;

}

.footer__col-naming {
  font-family: 'Readex Pro';
  font-size: 22px;
  font-weight: 400;
  line-height: 27.5px;
  text-align: left;
  margin-bottom: 20px;

}

.footer__col-link {
  font-size: 17px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 20px;
}

.footer__col-link:last-child {
  margin-bottom: 0;
}

.footer__col-Rectangle {
  max-width: 1350px;
  border-bottom: 1px solid rgba(220, 229, 226, 1);
  display: block;
  margin: 0 auto;
  margin-bottom: 52px;
}

/* ------------------------------------- */


.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left,
.footer__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.footer__left-text,
.footer__right-text {
  font-family: 'Readex Pro';
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.footer__left-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
