@import "reset.css";
@import "global.css";



.body {
  font-family: 'Inter 18pt';
}

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* ============================================== */

.header__navigation {}

.header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
}

.header__top-ikon {}

.nav {
  margin-left: 12px;
  text-transform: uppercase;
}

.nav__list {
  display: flex;
  gap: 33px;
}

.nav__img {
  margin-left: 3px;
  width: 13px;
  margin-top: 5px;
}

.nav__item {}

.nav__link {}

.header__shop {
  display: flex;
  gap: 20px;
}

/* =========================================== */


.section__new-phone {}

.section__new-window {
  display: flex;
  flex-wrap: nowrap;
  background: #dce5e2;
  border-radius: 30px;
}

.section__new-one {
  display: block;
  max-width: 50%;
  height: auto;
}



.section__new-text {
  font-family: 'Readex Pro';
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 400;
  line-height: 4.833vw;
  width: auto;
  height: auto;
  margin: 145px 0 20px;
}

.section__new-fish {
  color: rgba(0, 0, 0, 1);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  width: 35vw;
  height: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.section__new-buttun {
  color: rgba(0, 0, 0, 1);
  border: 1px solid #000000;
  font-family: 'Inter';
  border-radius: 200px;
  box-sizing: border-box;
  padding: 14px 53px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.section__new-buttun {
  margin-top: 30px;
}

.button {
  background: #dce5e2;

}

.section__new-img {
  width: 595px;
}



.section__new-arrow-left {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 0 18px 18px;
  width: auto;
  height: 26px;

}

.section__new-arrow-right {
  cursor: pointer;
  display: block;
  margin: auto;
  padding: 0 18px 18px;
  width: auto;
  height: 26px;
}

.swiper-pagination-bullet {
  position: relative;
  border-radius: 20%;
  width: 194px;
  height: 2px;
  background: rgba(0, 0, 0, 1);
}

.swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}


.swiper-pagination {

  margin-bottom: 18px;
}



/* ============================================== */

.pagination {
  margin-top: -55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}




/* ============================================== */

@media (max-width: 1300px) {

  .section__new-text {
    font-size: 36px;
    line-height: 3.833vw;
    margin: 145px 0 15px;
  }

  .section__new-buttun {
    padding: 11px 39px;
    font-size: 15px;
    line-height: 21.6px;
  }

  .section__new-img {
    width: 556px;
  }

}


@media (max-width: 1100px) {

  .section__new-img,
  .pagination {
    display: none;
  }

  .section__new-one {
    margin-left: auto;
    margin-right: auto;
  }

  .section__new-text {
    display: flex;
    justify-content: center;
    font-size: 26px;
    line-height: 2.833vw;
    margin: 55px 0 15px;
  }

  .section__new-fish {
    width: auto;
  }

  .section__new-buttun {
    padding: 14px 33px;
    font-size: 15px;
    line-height: 16.6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 26px;
  }

  .section__new-one {
    max-width: 80%;
  }
}

@media (max-width: 900px) {

  .section__new-window {
    flex-wrap: wrap;
  }


  .section__new-one,
  .section__new-img {
    flex: 1 1 100%;
    text-align: center;
  }


  .nav__item {
    padding-bottom: 16px;
  }

  .nav__list {
    display: block;
  }

  .nav__item:last-child {
    padding-bottom: 0px;
  }



  .section__new-text {
    display: flex;
    justify-content: center;
    font-size: 23px;
    line-height: 1.833vw;
    margin: 32px 0 15px;
    line-height: 1.3em;
  }



  .section__new-buttun {
    padding: 10px 25px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
  }

  .section__new-one {
    max-width: 70%;
  }
}

@media (max-width: 600px) {

  .header__shop {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }

  .header__top {
    display: block;
    text-align: center;
  }

  .header__top-ikon {
    margin-bottom: 20px;
  }

  .nav__item {
    padding-bottom: 11px;
  }

  .section__new-buttun,
  .section__new-arrow-left,
  .section__new-arrow-right {
    display: none;
  }

  .pagination {
    display: flex;
  }

  .section__new-fish {
    padding-bottom: 25px;
  }

  .pagination img {
    width: 132px;
    margin-bottom: -9vw;
    width: 23vw;
  }
}

@media (max-width: 400px) {

  .pagination__img:first-of-type {
    display: none;
  }

  .pagination img {
    margin-bottom: -9vw;
    width: 23vw;
    white-space: nowrap;
  }
}